processed_pocket_data/pocket_grids.npy
processed_pocket_data/protein_grids.npy
processed_ligand_data/ligand_grids.npy
processed_protein_data/protein_grids.npy
processed_protein_data/protein_grids_CLEAN.npy
processed_protein_data/protein_grids_backup.npy
v2013-core
# Model files (can be large)
*.pth
best_*_model.pth
*model.pth

*.hdf
*.zip
*.tar.gz
PDBbind_v2020_refined/


**/__pycache__/*
**/checkpoint*/**
**/data/parallel_refined_2020_hydro/**
