processed_pocket_data/pocket_grids.npy
processed_pocket_data/protein_grids.npy
processed_ligand_data/ligand_grids.npy
processed_protein_data/protein_grids.npy
processed_protein_data/protein_grids_CLEAN.npy
processed_protein_data/protein_grids_backup.npy
v2013-core
# Model files (can be large)
*.pth
best_*_model.pth
*model.pth
*.h5
.DS_Store
FAST-master/data/refined-set/*
FAST-master/data_util/chimera_process_*
FAST-master/data_util/prepare_chimera_*

P-L
new_processed_2022
data
# Large installer files
*.exe
ChimeraX-1.9.exe
*.hdf

h5py
.venv/
